@import "common.css";
#teams {
    position: absolute;
    top: 180px;
    right: 50px;
    margin: 20px;
    background: #C3073F;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#teams #text {
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
}

#teams #code {
    margin: 0;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    letter-spacing: 0.3rem;
    margin-bottom: 10px;
}

#courseTitle {
    color: white;
    margin: 0px 30px;
    margin-top: 0px;
    font-size: 4rem;
}

#profName {
    margin: 30px;
    margin-top: -15px;
    color: #4E4E50;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 600;
}

@keyframes fromDown {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#accordion {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 40px;
}

#accordion .contentBox {
    position: relative;
    margin-top: 10px;
    animation: fromDown 1.5s;
}

#accordion .contentBox .label {
    padding: 10px;
    padding-left: 25px;
    background: #6F2232;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    cursor: pointer;
}

#accordion .contentBox .label::after {
    content: "+";
    top: 50%;
    right: 50px;
    float: right;
    padding-right: 15px;
}

#accordion .contentBox.active .label::after {
    content: "-";
}

#accordion .contentBox .cntnt {
    position: relative;
    font-size: 1.2rem;
    background: white;
    overflow: hidden;
    height: 0;
    transition: 0.3s;
    overflow-y: auto;
}

#accordion .contentBox.active .cntnt {
    padding: 2px 20px;
    height: 150px;
    transition: 0.5s;
    overflow-y: auto;
}

#accordion .contentBox.active .cntnt a {
    padding-left: 10px;
}

.alert {
    animation: fromDown 1.5s;
    text-align: center;
    position: relative;
    padding: 0px 30px;
    font-size: 1.4rem;
    background: white;
    overflow: hidden;
    transition: 0.3s;
    overflow-y: auto;
    border-right: 20px solid #C3073F;
}

.alert::after {
    content: "x";
    position: absolute;
    top: 0;
    right: 2%;
    font-weight: 700;
    font-size: 2.7rem;
    color: #C3073F;
    cursor: pointer;
}