.topNav {
    overflow: hidden;
    background-color: #333;
}

.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}

.topNav a:hover {
    background-color: #ddd;
    color: black;
}

.topNav a.active {
    background-color: #fe4f18;
    color: white;
}