@import "common.css";
#welcome {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 70px;
    margin-top: 0;
    animation: fromDown 1.5s;
    margin-bottom: 0px;
}

#tx {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-top: 0;
    padding: 0 20%;
    animation: fromDown 1.5s;
}

#issues {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    padding: 0 20%;
    animation: fromDown 1.5s;
}

.alert {
    margin: 15px 20%;
    animation: fromDown 1.5s;
    text-align: center;
    padding: 6px 20px;
    color: white;
    font-size: 2rem;
    background: #C3073F;
    overflow: hidden;
    transition: 0.3s;
    overflow-y: auto;
    border-radius: 15px;
    border: 7px solid white;
}

.alert a {
    color: white;
}

#os {
    display: block;
    margin: 30px auto;
    width: 15%;
    animation: fromDown 1.5s;
}

@keyframes fromDown {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:480px) {
    #welcome {
        margin-top: 40px;
        font-size: 36px;
        line-height: 3rem;
    }
    #tx {
        padding: 0 10%;
        font-size: 25px;
    }
    #issues {
        margin-top: 40px;
        font-size: 14px;
    }
    .alert {
        margin: 5% 10%;
        padding: 4px;
        font-size: 1.4rem;
    }
    #os {
        width: 40%;
    }
}