@import "common.css";
body {
    align-items: center;
}

@keyframes fromDown {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    background: white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    width: 60%;
    animation: fromDown 1.5s;
}

.dates {
    margin-top: 10px;
    font-size: 20px;
}