@import "common.css";
body {
    align-items: center;
}

.card {
    background: white;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    width: 60%;
}

.dates {
    margin-top: 10px;
    font-size: 20px;
}